:root {
  --main-color:#0275d8;
  --shadow-color:rgba(0, 0, 0,.75);
  --second-background:#eff7fa;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  transition: transform 0.6s ease-out, opacity 1.3s ease-out;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100vw;
  background-color: var(--second-background);
  overflow-x: hidden;
  font-size: min(1vw, 1vh);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
html > *,
body > * {
  overflow-x: hidden;
}
@media (max-width: 720px) {
  html,
body {
    font-size: min(1.5vw, 1.5vh);
  }
}

ul {
  list-style: none;
}

.container {
  width: 96vw;
  margin: 0px auto;
}

::-webkit-scrollbar {
  width: 10px;
  display: none;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #848484;
  border: 1px solid rgba(29, 29, 29, 0.5019607843);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color);
}

@font-face {
  font-family: "agency";
  src: url(../fonts/Agency.ttf);
}
#loadingPage {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
  font-family: "agency";
  text-transform: uppercase;
  color: var(--main-color);
  font-size: 15rem;
  font-weight: bold;
}
#loadingPage .half {
  width: 51%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
  transition: 1.6s ease-in all;
}
#loadingPage #right {
  justify-content: flex-start;
}

nav {
  background-color: transparent;
  height: 10vh;
  padding: 1.2vh 1vw;
  width: 100vw;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
  position: fixed;
  top: 0;
  z-index: 99;
  transition: 0.5s all;
  border-bottom: 0.5vh solid var(--main-color);
  background-color: #fff;
}
nav .logo {
  height: 7vh;
  background: #fff;
  z-index: 9;
  transition: 1.2s ease-out all;
  top: 1.2vh;
  left: 2vw;
}
nav .logo.load {
  background: #fff;
  top: 0vh;
  left: 0vw;
}
nav .logo.load img {
  height: 20vh;
  transform: translateX(-50%);
}
nav .logo img {
  height: 100%;
  transition: 1.2s ease-out all;
  transform: translateX(0%);
}
nav ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 1.7vw;
       column-gap: 1.7vw;
  font-size: 1.4vw;
  color: var(--main-color);
}
nav ul li {
  font-weight: 500;
  cursor: pointer;
}
nav ul li a {
  color: var(--main-color);
  text-decoration: none;
  display: inline-block;
  transition: 0.5s transform;
}
nav ul li a:hover:not(.dropdown-toggle) {
  transform: scale(1.2);
  text-decoration: underline;
}
nav ul .dropdown {
  position: relative;
  display: block;
}
nav ul .dropdown:hover .dropdown-toggle {
  text-decoration: underline;
}
nav ul .dropdown::after {
  content: "\f0dd";
  font-family: "FontAwesome";
  display: inline-block;
  position: relative;
  top: -0.2vh;
}
nav ul .dropdown .dropdown-menu {
  width: 18rem;
  padding: 2.4vh 0;
  position: absolute;
  right: 0%;
  top: 150%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5vh;
  border: 1px solid #aaa;
  border-radius: 0.5vw;
  background: #fff;
  z-index: 99;
  display: flex;
  visibility: hidden;
}
nav ul .dropdown .dropdown-menu.show {
  visibility: visible;
}
nav ul .dropdown .dropdown-menu a:hover {
  transform: scale(1.4);
}
nav #toggler {
  width: 4vw;
  height: 5vh;
  position: absolute;
  right: 2vw;
  top: 5vh;
  transform: translate(-50%, -40%);
  cursor: pointer;
  display: none;
}
nav #toggler span {
  content: "";
  width: max(35px, 4vw);
  height: max(5px, 0.7vh);
  background-color: var(--main-color);
  position: absolute;
  top: 2.6vh;
  right: 0;
  border-radius: 1vw;
  transition: 0.6s all;
}
nav #toggler .center {
  top: 1.3vh;
}
nav #toggler .top {
  top: 0vh;
}
nav #toggler.toggler .top {
  top: 1.5vh;
  transform: rotate(45deg);
}
nav #toggler.toggler .center {
  right: -15vw;
}
nav #toggler.toggler .bottom {
  top: 1.5vh;
  transform: rotate(-45deg);
}
@media (max-width: 1130px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 4vh;
  }
  nav ul {
    opacity: 0;
    height: 50vh;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2vh;
    transition: 0.3s;
    font-size: 3rem;
  }
  nav.full {
    height: 100vh;
    padding: 1.5vh 4vw;
    border-bottom: 1.5vh solid var(--main-color);
  }
  nav.full ul {
    opacity: 1;
    transition: 1s ease-out all;
  }
  nav.full div.dropdown-menu {
    right: -35%;
    top: 200%;
  }
  nav div#toggler {
    display: block;
  }
}

.home {
  min-height: 90vh;
  width: 100vw;
  padding: 6vh 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10vh;
  background: fixed no-repeat 50%;
  background-image: url("../imgs/home9.jpg");
  background-size: cover;
  position: relative;
  transition: 2s linear background-image;
  z-index: 0;
}
.home::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1;
}
.home .logo {
  width: 12vw;
  z-index: 2;
}
.home .logo img {
  width: 100%;
}
.home .content {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  z-index: 2;
  font-weight: 700;
}
@media (max-width: 720px) {
  .home .content {
    width: 90%;
  }
}
.home .content h1 {
  color: var(--main-color);
  font-size: 5rem;
  margin-top: 0;
}
.home .content p {
  font-size: 3rem;
}
.home .content button {
  width: min(75%, 480px);
  min-height: 12vh;
  margin: 4vh 0 1vh;
  padding: 2vh 2vw;
  position: relative;
  color: var(--main-color);
  background-color: transparent;
  border: 0.6vh solid var(--main-color);
  font-weight: inherit;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s ease-out all;
}
@media (max-width: 722px) {
  .home .content button {
    width: 80%;
    min-height: 9vh;
    padding: 1vh 1vw;
  }
}
.home .content button:nth-of-type(2) {
  margin: 1vh 0 4vh;
}
.home .content button:hover {
  color: #fff;
}
.home .content button:hover::before {
  width: 100%;
}
.home .content button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-color);
  height: 100%;
  width: 0%;
  z-index: -1;
  transition: 0.5s ease-out all;
}
@media (max-width: 750px) {
  .home {
    row-gap: 4vh;
    flex-direction: column;
  }
  .home .logo {
    width: 20vw;
  }
}
.home #time {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 4vh;
  gap: 30px;
}
@media (max-width: 720px) {
  .home #time {
    grid-template-columns: 1fr 1fr;
  }
}
.home #time .circle {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home #time .circle svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}
.home #time .circle svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 6;
  stroke: rgba(255, 255, 255, 0.7215686275);
  stroke-linecap: round;
  transform: translate(5px, 5px);
}
.home #time .circle svg circle:nth-child(2) {
  stroke: var(--main-color);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  transition: 1.1s linear;
}
.home #time .circle svg + div {
  top: 15%;
}
.home #time .circle div {
  position: absolute;
  text-align: center;
  font-weight: 500;
  color: var(--main-color);
  font-size: 45px;
  line-height: 1.6;
}
.home #time .circle div span {
  position: absolute;
  transform: translate(-50%, -10px);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.home #time .dots {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 999;
  transition: 1.1s linear all;
}
.home #time .dots::before {
  content: "";
  position: absolute;
  top: -2px;
  width: 15px;
  aspect-ratio: 1;
  background: var(--main-color);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--main-color), 0 0 60px var(--main-color);
}

.persons .container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  padding: 5vw 0;
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  overflow-x: hidden;
}
.persons .container .header {
  display: flex;
  flex-direction: column;
  row-gap: 1.5vh;
  padding: 0 5vw;
  margin-bottom: 2vh;
}
.persons .container .header h2 {
  color: var(--main-color);
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1vh;
}
.persons .container .header p {
  text-align: justify;
  color: var(--shadow-color);
  font-size: 2.4rem;
  line-height: 1.4;
}
.persons .container .header p.shown {
  display: none;
}
.persons .container .header button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--main-color);
  font-weight: bold;
  font-size: 2.6rem;
  border: none;
  background: transparent;
  cursor: pointer;
}
.persons .container .person {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  gap: 50px;
}
.persons .container .person .img {
  height: 100%;
  padding: 0 0 0 5vw;
  margin: 0 0vw 0 0;
  background-color: var(--second-background);
  transform: translateX(-50vw);
  box-sizing: content-box;
  z-index: 2;
}
.persons .container .person .img img {
  max-height: 100%;
  border-radius: 5%;
}
.persons .container .person .info {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transform: translateX(-100vw);
  opacity: 0;
  z-index: 1;
}
.persons .container .person .info .title {
  font-size: 3rem;
  font-weight: bold;
  color: #8b0000;
}
.persons .container .person .info .name {
  font-size: 2.6rem;
  font-weight: 600;
  color: var(--main-color);
}
.persons .container .person .info .dsc {
  font-size: 2.2rem;
  color: var(--shadow-color);
}
.persons .container .person .info svg {
  font-size: 4.8rem;
  color: var(--main-color);
}
@media (max-width: 720px) {
  .persons .container .person .info .title {
    font-size: 2.2rem;
  }
  .persons .container .person .info .name {
    font-size: 1.8rem;
  }
  .persons .container .person .info .dsc {
    font-size: 1.8rem;
  }
  .persons .container .person .info svg {
    font-size: 3.2rem;
  }
}
.persons .container .person:nth-child(odd) {
  flex-direction: row-reverse;
}
.persons .container .person:nth-child(odd) .img {
  padding: 0 5vw 0 0;
  margin: 0 0 0 0vw;
  transform: translateX(50vw);
}
.persons .container .person:nth-child(odd) .info {
  transform: translateX(100vw);
  text-align: right;
}
@media (max-width: 720px) {
  .persons .container .person {
    height: 15vh;
    gap: 30px;
  }
}
@media (max-width: 420px) {
  .persons .container .person {
    height: 12vh;
    gap: 15px;
  }
  .persons .container .person .info {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.persons.show .person .img,
.persons.show .person .info {
  transform: translateX(0vw) !important;
  opacity: 1 !important;
}
.persons .img-1 {
  transition-delay: calc(1s/3);
}
.persons .info-1 {
  transition-delay: calc(1s/2);
}
.persons .img-2 {
  transition-delay: calc(2s/3);
}
.persons .info-2 {
  transition-delay: calc(2s/2);
}
.persons .img-3 {
  transition-delay: calc(3s/3);
}
.persons .info-3 {
  transition-delay: calc(3s/2);
}
.persons .img-4 {
  transition-delay: calc(4s/3);
}
.persons .info-4 {
  transition-delay: calc(4s/2);
}

#stop {
  position: absolute;
  padding: 1vh 1.5vw;
  background: var(--main-color);
  color: #fff;
  border: none;
  outline: none;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transform: translateY(-100%);
}

.sponsors {
  min-height: 30vh;
  padding: 2vh 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2vh;
  border-top: 0.5vh solid var(--main-color);
  border-bottom: 0.5vh solid var(--main-color);
}
.sponsors p {
  color: var(--main-color);
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
}
@media (max-width: 722px) {
  .sponsors p {
    font-size: 3rem;
  }
}
.sponsors #slide {
  min-height: 25vw;
  min-width: 100%;
  direction: rtl;
  display: flex;
  position: relative;
  overflow-x: hidden;
  align-items: center;
  gap: 4vh;
}
.sponsors #slide.animate img {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
@-webkit-keyframes move {
  to {
    transform: translateX(200%);
  }
}
@keyframes move {
  to {
    transform: translateX(200%);
  }
}
.sponsors #slide img {
  width: 16vw;
  position: absolute;
  right: -50vw;
  -webkit-animation: move 7s linear infinite;
          animation: move 7s linear infinite;
}
@keyframes move {
  to {
    right: 150vw;
  }
}
.sponsors #slide img[alt=chem-tech] {
  width: 20vw;
}
.sponsors #slide img:nth-child(1) {
  -webkit-animation-delay: calc(1s);
          animation-delay: calc(1s);
}
.sponsors #slide img:nth-child(2) {
  -webkit-animation-delay: calc(2s);
          animation-delay: calc(2s);
}
.sponsors #slide img:nth-child(3) {
  -webkit-animation-delay: calc(3s);
          animation-delay: calc(3s);
}
.sponsors #slide img:nth-child(4) {
  -webkit-animation-delay: calc(4s);
          animation-delay: calc(4s);
}
.sponsors #slide img:nth-child(5) {
  -webkit-animation-delay: calc(5s);
          animation-delay: calc(5s);
}
.sponsors #slide img:nth-child(6) {
  -webkit-animation-delay: calc(6s);
          animation-delay: calc(6s);
}
.sponsors #slide img:nth-child(7) {
  -webkit-animation-delay: calc(7s);
          animation-delay: calc(7s);
}
.sponsors #slide img:nth-child(8) {
  -webkit-animation-delay: calc(8s);
          animation-delay: calc(8s);
}

footer {
  width: 100vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--main-color);
}/*# sourceMappingURL=conference.css.map */